@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Leaflet Styling */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: #090d16;
  font-family: inherit;
}

.custom-supervisor-marker {
  background: transparent;
  border: none;
}

.start-marker,
.end-marker {
  background: transparent;
  border: none;
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
